<form action="/pokemons" method="post">
  <label>Name: <input type="text" name="pokemon[name]"></label><br>
  <label>Poketype: <input type="text" name="pokemon[poke_type]"></label><br>
  <label>CP: <input type="text" name="pokemon[cp]"></label><br>
  <label>Image URL: <input type="url" name="pokemon[img_url]"></label><br>
  <input type="submit" value="Create">
</form>
